<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application>
        <activity android:name=".activities.DrawerBaseActivity"></activity>
        <activity android:name=".activities.CreateExerciseActivity" android:exported="true" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" android:label="Übung erstellen"> </activity>
        <activity android:name=".activities.LeaderboardActivity" android:exported="true" android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" android:label="Leaderboard">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="FitnessApp"
            android:theme="@style/Theme.AppCompat.DayNight">

        </activity>
    </application>

</manifest>