<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fitnessapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".FitnessAppAndroidApplication"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activities.Leaderboard.ShowLeaderboardActivity"
            android:exported="false"
            android:label="Erstelle Leaderboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.Leaderboard.CreateLeaderboardActivity"
            android:exported="false"
            android:label="Erstelle Leaderboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.trainingsverwaltung.EditExerciseOrPlanActivity"
            android:exported="false"
            android:label="Trainingsverwaltung"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.trainingsverwaltung.AddPlansActivity"
            android:exported="false"
            android:label="Trainingsverwaltung"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.trainingsverwaltung.AddExercisesActivity"
            android:exported="false"
            android:label="Trainingsverwaltung"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.Leaderboard.LeaderboardPublicActivity"
            android:exported="false"
            android:label="Öffentliche Leaderboards"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.Leaderboard.LeaderboardJoinedActivity"
            android:exported="false"
            android:label="Beigetretene Leaderboards"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.Leaderboard.LeaderboardMainActivity"
            android:exported="false"
            android:label="Haupt Leaderboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.trainingsverwaltung.TrainingsverwaltungActivity"
            android:exported="false"
            android:label="Trainingsverwaltung"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity android:name=".activities.DrawerBaseActivity" />
        <activity
            android:name=".activities.trainingsverwaltung.CreateExerciseActivity"
            android:exported="true"
            android:label="Trainingsverwaltung"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.trainingsverwaltung.CreatePlanActivity"
            android:exported="true"
            android:label="Trainingsverwaltung"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.Leaderboard.LeaderboardActivity"
            android:exported="false"
            android:label="Leaderboard"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="true"
            android:label="FitnessApp"
            android:theme="@style/Theme.AppCompat.DayNight">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>